@{
    ViewData["Title"] = "Chat Interface";
}

<h2>Chat Interface</h2>

<div id="chatWindow" style="border: 1px solid black; height: 300px; overflow-y: scroll; padding: 5px;">
    <!-- Messages will be displayed here -->
</div>

<input type="text" id="messageInput" placeholder="Type a message..." />
<button id="sendMessageButton">Send</button>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sendMessageButton').click(function () {
                var message = $('#messageInput').val();

                $.ajax({
                    url: '@Url.Action("SendMessage", "Home")',
                    type: 'POST',
                    data: { message: message },
                    success: function (response) {
                        $('#chatWindow').append('<div>' + message + ' (Sent) ID: ' + response.messageId + '</div>');
                        $('#messageInput').val(''); // Clear input field
                    },
                    error: function (xhr, status, error) {
                        $('#chatWindow').append('<div>Error sending message</div>');
                    }
                });
            });
        });
    </script>
}

